html, body {
    width: 200px;
}

textarea {
    height: 8em;
    width: 15em;
    resize: none;
}

.hidden {
    display: none;
}

.button {
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}

.save:hover {
    background-color: darkcyan;
}

.save {
    background-color: cyan;
}

.page:hover {
    background-color: darkcyan;
}

.page {
    background-color: cyan;
}

.delete:hover {
    background-color: darkred;
}

.delete {
    background-color: red;
}

#title {
    text-align: center;
    font-size: 2em;
}

#input:hover {
    background-color: #ECEDEA;
}

#input:focus {
    background-color: #D3D5CF;
}

#input {
    background-color: white;
}